<header class="shesi-header">
	<nav>
		<ul>
			<li>
				<a href=" <%- url_for('/') %>  ">Home</a>
			</li>
			<li>
				<a href=" <%- url_for(config.category_dir) %>  ">category</a>
			</li>
			<li>
				<a href=" <%- url_for(config.tag_dir) %>  ">tag</a>
			</li>
			<li>
				<a href=" <%- url_for(config.archive_dir) %>  ">archive</a>
			</li>
		</ul>
	</nav>

</header>